@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/space-mono');
body {
  background-color: #000300;
  font-family: 'Open Sans', sans-serif;
}
.exf{
  color:rgb(44, 236, 246);
  font-family: 'Space Mono', sans-serif;
  text-transform: uppercase;
}
.imgtg{
  border-radius: 6%;
}
@media screen and (max-width: 768px) {
  .para {
    font-size: 13px; 
    text-align: center;
  }
  .newsl,.pripol{
    font-size: 15px; 
  }
}
button:hover{
  color: aliceblue;
  background-color: rgb(26, 25, 25);
}